#caja1{
    float: left;
    height: 150px;
}
header{
    background-color:rgb(114, 239, 224);
    height: 200px;
  
}

nav{
    position: center;
    background-color: black;
    font-family: 'Segoe UI';
    font-size: 20px;
    height: 40px;  

}

h1{
    margin: auto;
    font-family: 'Segoe UI';
    height: auto;
}


h2{
    font-family: 'Segoe UI';
    font-size: 25px;
    
}

#inicio{
    float: right;
    height: auto;
    width: auto;
    background-color: rgb(114, 239, 224);
    color: black;
    font-family:'Segoe UI';
    font-size: 15px;
    
}

#caja2{
    float:right;
    background-color: cyan;
    width: 250px;
    height: auto;
    font-family: calibri;  
}

#caja3{
    background-color: rgba(4, 173, 173, 0.767);
    width: 200px;
    height: 175px;
    font-family: calibri;  
    text-align:justify;
}

#caja4{
    background-color: rgba(4, 173, 173, 0.767);
    width: 200px;
    height: 175px;
    font-family: calibri;  
    text-align:justify;
}

input{
    background-color: black;
    color: white;
    height: 40px;
    width: 250px;
}

#caja5{
    float: left;
    width: 1425px; 
    background-color: black;
    color: white;

}

.Footer{
    float: left;
    font-family: calibri;     
    background-color: rgb(114, 239, 224);
    width: 1425px;    
    
}
.img{
    float: left;
    
}

section{
    float: left;
}

#caja6{
    background-color: rgb(0, 255, 255);
}

#texto{
    background-color: rgb(122, 102, 255);
    width: 460px;
    height: 30px;
    margin: 15px;
}

#boton{
    background-color:rgb(21, 204, 204);
    font-family: verdana;
    font-size: 20px;
    width: 150px;
}

#informacion{
    margin: 100px;
    font-family: calibri;
    text-align:justify;
    
}



